<footer class="footer__area footer--1">
  <div class="copyright bg--theme">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="copyright__inner">
            <div class="cpy__right--left">
              <p><%= t "layouts.footer.copywrite" %>
              </p>
            </div>
            <div class="cpy__right--right">
              <a href="#">
                <img src="/assets/icon/shape/2.png" alt="payment images">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
