.categories {
  font-size: 15px;
  .category_add_btn {
    font-size: 20px;
  }
  .category__item {
    height: 230px;
    .category_delete-btn {
      position: absolute;
      top: 1px;
      right: 1px;
    }
  }
}
