<div class="col-md-3 category__item">
  <%= link_to admin_category_path(category) do %>
    <h4 class="category__item--name"><%= category.name %></h4>
  <% end %>
  <% unless [1,2,3].include? category.id  %>
    <%= link_to admin_category_path(category), method: :delete, remote: true, class: "category_delete-btn" do %>
      <span class="fa fa-times"></span>
    <% end %>
  <% end %>
  <%= image_tag category.picture.url, class: "category__item--image" %>
</div>
