<div class="col-md-3 category__item">
  <div><%= category.name %></div>
  <%= link_to admin_category_path(category), method: :delete, remote: true, class: "category_delete-btn" do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
  <%= image_tag category.picture.url %>
</div>
