@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'vendor/bootstrap.min';
@import 'vendor/style';
@import 'vendor/spacing.min';

.category_item {
  margin-top: 0px;
  visibility: visible;
  animation-name: fadeInLeft;
}

.product_image {
  width: 350px;
}

.banner-close {
  position: absolute;
  right: 10px;
  top: 110px;
}

.fullscreen {
  display: none;
}

.show_banner {
  display: block !important;
}

.cart_title {
  text-align: center;
  font-family: inherit;
}
