@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'login';
@import 'sidebar';
@import 'admin/all';
@import 'show';

.logo {
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  width: 100px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  font-size: 15px;
}

nav {
  margin-top: 40px;
}

body {
  font-size: 15px;
  margin-top: 100px;
  padding-top: 5px;

  .page-wrapper {
    .container {
      padding-left: 200px;
      .page-content {
        padding-left: 50px;
        .body-content {
          min-height: 720px;
        }
      }
    }
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
}
