<div class="show_child_items containter">
  <div class="row">
    <h3><%= t "categories.relate_category" %></h3>
    <%= render @categories %>
  </div>
  <div class="row">
    <h3><%= t "generals.products" %></h3>
    <%= render partial: "./products/product", collection: (@products), as: :product %>
  </div>
</div>
