<% provide :title, t("product.client_title") %>
<div class="containter">
  <div class="categories">
    <div class="row">
      <div class="category_new_form"></div>
    </div>
    <div class="row categories_items">
      <%= render @products %>
    </div>
    <div class="row paginate">
      <%= paginate @products, theme: "twitter-bootstrap-4" %>
    </div>
  </div>
</div>
