<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <img src="/assets/logo_head.png" class = "logo">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home"), root_path %></li>
        <li><%= link_to t("static_pages.contact"), contact_path %></li>
        <li><%= link_to t("static_pages.login"), "#" %></li>
        <li><%= link_to t("static_pages.signup"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
