<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div id="toggle-sidebar">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="sidebar-brand">
      <a href="#">#</a>
    </div>
    <% if logged_in? %>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="#">
        </div>
        <div class="user-info">
          <span class="user-name"> <%= current_user.name %>
          </span>
          <span class="user-role">
            <%= get_role_name %>
          </span>
        </div>
      </div>
    <% end %>
  <!-- sidebar-header -->
  <div class="sidebar-search">
    <div>
      <div class="input-group">
        <input type="text" class="form-control search-menu">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar-search -->
  <%= render_side_bar %>
</div>
</nav>
